.tooltip {
  position: fixed;

  border: 1px solid black;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: white;
  box-shadow: rgb(0, 0, 0) 0px 5px 13px -7px, 0px 8px 6px -3px rgba(0,0,0,0);

  p {
    margin: 0;
  }
}